<h1>About Us</h1>
<p>I'm a 29 year old guy living in Brooklyn. By day, I work at a startup here in NYC. I like to find the most efficient way to spend my free time and often try out new products, apps, and services to free up more free time and make my life in NYC a bit easier. This site is a collection of my experiences trying out these apps.</p>
<p>A lot of people ask me how I chose the domain name. Well, it's simple really. A good friend of mine got upset at me for constantly talking about new products and saying things like "So there's this app that I'm trying out called ___".</p> 
<p>I now talk about more interesting things in person.</p>