<h1>About 'So There's This App...'</h1>
<p>I'm a 29 year old dude living in Brooklyn. By day, I work at a startup here in NYC. I like to find the most efficient way to spend my free time and often try out new products, apps, and services to make my life in NYC a bit easier. This site is a collection of my experiences trying out these apps.</p>

<p>If you're a startup that wants me to try out your product, feel free to send me a note <a href="mailto:yi.simon.k@gmail.com">here</a>.</p>
