
<div class="content">
        <center>
          <h3 class="tagline">Discover apps that free up your time.</h3>
          <h2 class="title"></h2>
        </center>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->

				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="http://41.media.tumblr.com/6af356ac9cbadfbc37a5cddc1ea43a95/tumblr_nhpcj6WEaY1ta0hnbo1_1280.jpg" alt="image 1" height=400 width=100%>
				      <div class="carousel-caption">
				        Shyp
				      </div>
				    </div>
				    <div class="item">
				      <img src="http://40.media.tumblr.com/8ec3ea4d5dcc1458f951f65cded89b1f/tumblr_ngmwdybz7r1ta0hnbo1_1280.jpg" alt="image 2" height=400 width=100%>
				      <div class="carousel-caption">
				        ClassPass
				      </div>
				    </div>
				    <div class="item">
				      <img src="http://40.media.tumblr.com/c3d01d5428bcdca5210af06b00399807/tumblr_nhp8byhciQ1ta0hnbo1_1280.jpg" alt="image 3" height=400 width=100%>
				      <div class="carousel-caption">
				        Instacart
				      </div>
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
				</div>
			<br>

			<div class="jumbotron">
			  <h1>Archive</h1>
				  <div class="row">
					  <div class="col-md-4">.col-md-4</div>
					  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
					</div>
					<div class="row">
					  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
					  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
					</div>
					<div class="row">
					  <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
					</div>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button">Explore</a></p>
			</div>