<h2>Keep Friends by Splitting Bills with Venmo</h2>
<br>
<span><strong>Time saved:</strong> 3 hours per week</span>
<br>
<span><strong>Makes me feel like: </strong><a href="http://media.giphy.com/media/f2fX7GtXh1nbi/giphy.gif">GIF</a></span>
<br>
<p>How many times have you ate a great dinner with friends at a restaurant only to have it ruined by the experience of trying to split the bill?</p>
<p><a href="http://www.venmo.com">Venmo</a> is a service that prevents situations just like that. Owe your friend some cash? Venmo him some money. Your friend owe you for picking up lunch? Charge him. Restaurant only take 1 card? Figure out what each person needs to pay and venmo the one guy putting down his card. Really, it's that easy.</p>
<p>Now, what you'll find kinda cool/creepy about Venmo is that you can see what your friend are paying their friends for. So in other words, when you're charging your friend for that piece of gum that cost you $0.05, think again. It's really not a good look. Likewise, when your <strong>friend</strong> is charging their friend for something that's ridiculous, time to consider unfriending them.</p>