<h2>Let Instacart Be Your Grocery Sherpa</h2>
<br>
<span><strong>Time saved:</strong> 2 hours per week</span>
<br>
<span><strong>Makes me feel like: </strong><a href="http://media.giphy.com/media/jL0baQsv6kNKU/giphy.gif">GIF</a></span>
<br>
<p>Let’s face it: grocery stores suck. First off, whenever I go to the grocery store I always end up forgetting to pick up the 1 item that is absolutely necessary in the recipe. Second, I hate how supermarkets set up their floor plan so that you’re forced to walk ALL AROUND THE STORE just to get your weekly supply of milk, eggs, and veggies.</p>
<p>I saw some ads for Instacart on the subway on my commute home from our office in beautiful Herald Square, home of the street vendors chanting “$5 bag” (more on that another time). As you could imagine, I wasn’t feeling particularly energetic on my way home so I decided to try out the app.</p>
<p><a href="http://www.instacart.com">Instacart</a> helps you find the groceries you want by either combing through a list of categories  (poultry, vegetables, dairy, etc), similar to how you would shop at a grocery store, or via their search bar. It took me about 10 minutes to think through all the supplies I needed for the week, entered my payment info, and scheduled my delivery for the next evening.</p>
<p>What would have typically taken me 2 hours to shop (take the subway to a whole foods, rummage throughout all the aisles, wait to checkout, then lug all my shit home) now took 10 minutes.</p>
<span><a href="http://media2.giphy.com/media/E5ZPIfEsmbNC0/200.gif">GIF</a>
<p>Each week, my girlfriend and I add the groceries to our shared shopping cart as we cook through our weekly provisions. We don’t even need to think about what we need to replace at home. It’s freed up a lot of headspace for me to spend my time doing more productive things, like staring at my navel.</p>