<h2>Let Instacart Be Your Grocery Sherpa</h2>
<br>
<span><strong>Time saved:</strong> 2 hours per week</span>
<br>
<span><strong>Makes me feel like: </strong><a href="http://media.giphy.com/media/jL0baQsv6kNKU/giphy.gif">GIF</a></span>
<br>
<p>Let’s face it: grocery stores suck. First off, whenever I go to the grocery store I always end up forgetting to pick up the 1 item that is absolutely necessary in the recipe. Second, I hate how supermarkets set up their floor plan so that you’re forced to walk ALL AROUND THE STORE just to get your weekly supply of milk, eggs, and veggies.</p>
<p><a href="http://www.instacart.com">Instacart</a> helps you find the groceries you want by either combing through a list of categories  (poultry, vegetables, dairy, etc), similar to how you would shop at a grocery store, or via the search bar. What would have typically taken me 2 hours to shop (take the subway to a whole foods, rummage throughout all the aisles, wait to checkout, then lug my week's rations home) took me 10 minutes to order. Instacart came to my apartment later that evening to drop off my groceries. How. Awesome.</p>
<span><a href="http://media2.giphy.com/media/E5ZPIfEsmbNC0/200.gif">GIF</a>
<p>Each week, my girlfriend and I add the groceries to our shared shopping cart as we cook through our weekly provisions. We don’t even need to think about what we need to replace at home. It’s freed up a lot of headspace for me to spend my time doing more productive things, like staring at my navel.</p>