<h2>No More Excuses with ClassPass</h2>
<br>
<span><strong>Money saved:</strong> $100/month</span>
<br>
<span><strong>Makes me feel like: </strong><a href="http://media.giphy.com/media/H2dmCtNyFoJZS/giphy.gif">GIF</a></span>
<br>
<p>ClassPass is a national service that lets you try out a workout studio all across your city from their network. As a member, you pay a flat fee of $100/month and you're allowed to visit a class up to 3 times per month. If you miss a class, they'll charge you $20 to make you feel like a fatass for not showing up.</p>
<p>While the service may seem expensive at first, there are three ways to think of it as an awesome deal. First, a good gym in NYC will cost between $100 and $250 per month. Second, the more often you go to classes, the lower the average cost of attending a class. Third, without ClassPass, some of these studios charge $20 to $40 per class and lock you in to bundled deals.</p>
<p>Granted, <a href="http://www.classpass.com">ClassPass'</a> userbase leans very heavily toward young women (who most likely live in the UES). I've been to a few classes where I definitely felt (quite literally) like the odd man out. I just avoid the "maternal yoga" and "pure ballerina posture" courses and stick to cycling and CrossFit to get my fix. And hey, so long as I'm sweating during class (trust me, it doesn't take much) and feeling sore the next day, I'll keep booking more classpass classes to get back in shape.</p>