<h2>Shyp More, Procrastinate Less</h2>
<br>
<span><strong>Time saved:</strong> 1 hr/month</span>
<br>
<span><strong>Makes me feel like: </strong><a href="http://media.giphy.com/media/6HOkD1pSCne4E/giphy.gif">GIF</a></span>
<br>
<p>Let's face it: nobody likes the post office. It never is easy to send a package in the mail. With <a href="http://www.shyp.com/">Shyp</a>, you begin to hope you have more packages to ship. Just take a photo of the item you need to ship and a Shyp hero will come to your home to pick it up. You don't even need to pack the item you're shipping!</p>
<p>What made me so surprised about the service is how well trained the Shyp heroes are. I've requested pick ups on Saturday afternoons and weekday mornings as early as 8:30 am and every Shyp hero has been excited to pick up my package and explain how it works. Save yourself the trouble of wasting your time at a post office. It only costs $5. It's worth it.</p>
