<h1>For Startups</h1>

<p>I'm usually researching new products to try out by reading the tech press circuit and <a href="angel.co">AngelList</a>, but if you're not as present on those platforms, I'd be happy to take a look at your product.</p>
<br>
<p>Our core audience is 26 to 36 within the United States.</p>